* {
  box-sizing: border-box;
}

:root {
  --brand-primary: #48556a;
  --brand-secondary: #6e8098;
  --brand-bg-light-grey: #ecf2f8;
}

h1,
p {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--brand-bg-light-grey);
  font-family: "Manrope";
  display: grid;
  place-items: center;
  min-height: 100vh;
}

main {
  background-color: white;
  box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.5);
  border-radius: 10px;
  margin: 75px 24px;
  max-width: 360px;
  position: relative;
}

.desktop-drawers-img {
  display: none;
}

.mobile-drawers-img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.article__section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.article__header {
  color: var(--brand-primary);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.2px;
}

.article__content {
  color: var(--brand-secondary);
  font-size: 13px;
  font-weight: 500;
  line-height: 20px; /* 153.846% */
  letter-spacing: 0.122px;
}

.article__content-desktop {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 36px 32px 20px;
}

.author__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author__items {
  display: flex;
  gap: 16px;
}

.author__details {
  display: flex;
  flex-direction: column;
}

.author__details-name {
  color: var(--brand-primary);
  font-size: 13px;
  font-weight: 700;
  line-height: 20px; /* 153.846% */
  letter-spacing: 0.122px;
}

.author__details-postdate {
  color: var(--brand-secondary);
  font-size: 13px;
  font-weight: 500;
  line-height: 20px; /* 153.846% */
  letter-spacing: 0.122px;
}

.share-arrow {
  height: 32px;
  width: 32px;
  margin-left: 59px;
  z-index: 2;
}

dialog {
  background-color: var(--brand-primary);
  border-radius: 0 0 10px 10px;
  border: none;
  width: 100%;
  outline: none;
  padding: 30px 32px;
  bottom: 0;
}

dialog p {
  display: inline;
  color: var(--brand-secondary);
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px; /* 153.846% */
  letter-spacing: 5px;
}

.share-options__container {
  display: flex;
  gap: 21px;
  align-items: center;
}

.social-media-icons {
  display: flex;
  gap: 15px;
}
/* .triangle {
  display: none;
} */

@media screen and (min-width: 1024px) {
  main {
    display: flex;
    max-width: 730px;
    max-height: 280px;
  }

  .mobile-drawers-img {
    display: none;
  }

  .desktop-drawers-img {
    display: block;
    width: fit-content;
    border-radius: 10px 0 0 10px;
  }

  .article__content-desktop {
    display: flex;
    flex-direction: column;
  }

  .article__header {
    font-size: 20px;
    line-height: 28px; /* 140% */
    letter-spacing: 0.25px;
  }

  .author__section {
    justify-content: space-between;
  }

  /* .triangle {
    position: absolute;
    display: flex;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 30px 30px 0 30px;
    border-color: hsl(217, 19%, 35%) transparent transparent transparent;
    transform: rotate(0deg);
    bottom: -1.5rem;
    left: 6rem;
  } */
}
