* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  font-family: "Manrope", sans-serif;
  background-color: hsl(210, 46%, 95%);
}

.furniture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
  background-color: white;
  border-radius: 15px;
  position: relative;
}

.furniture-image {
  object-fit: contain;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.furniture-section-heading {
  color: hsl(217, 19%, 35%);
  padding: 36px 32px 12px 32px;
  font-size: 16px;
  letter-spacing: 0.2px;
  margin: 0;
}

.furniture-section-summary {
  color: hsl(217, 19%, 35%);
  padding: 0 32px;
  line-height: 2.5ch;
  margin: 0;
  font-size: 13px;
}

.furniture-section-author {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px;
  align-items: center;
  width: 100%;
}

.author-info-container {
  display: flex;
  flex-direction: row;
  padding: 4px 0 0;
  align-items: center;
}

.author-avatar {
  border-radius: 50%;
  width: 20%;
  height: 20%;
}

.author-post-date {
  align-self: center;
}

.author-post-date p {
  margin: 0;
  font-size: 0.75rem;
  padding-left: 1rem;
}

.author-name {
  font-weight: 700;
}

.post-date {
  color: hsl(217, 19%, 35%);
}

.share-options {
  display: none;
  flex-direction: row;
  background-color: hsl(217, 19%, 35%);
  padding: 22px 32px;
  justify-content: space-between;
  color: hsl(212, 23%, 69%);
  text-transform: uppercase;
  border-radius: 0 0 15px 15px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  height: 6rem;
  border: none;
}

.social-media-options {
  display: flex;
  width: 75%;
  justify-content: space-between;
  align-items: center;
  max-width: 15rem;
}

.share-button-unclicked {
  width: 2.75rem;
  height: 2.75rem;
  padding: 0.5rem;
  text-align: center;
}

.share-icon {
  padding: 0.5rem;
  border-radius: 50%;
  text-align: center;
  height: 2rem;
  width: 2rem;
  align-self: center;
}

.triangle {
  display: none;
}

@media screen and (min-width: 1024px) {
  body {
    display: grid;
    place-items: center;
    min-height: 100vh;
  }

  .furniture-container {
    flex-direction: row;
    width: 95rem;
    position: relative;
  }

  .furniture-image {
    object-fit: cover;
    border-radius: 15px 0 0 15px;
    display: flex;
    height: 35rem;
    width: 50%;
  }

  .furniture-section-text {
    padding: 32px 40px;
    font-size: 2rem;
  }

  .furniture-section-heading {
    padding: 35px;
    font-size: 2ch;
  }

  .furniture-section-summary {
    font-size: 1.5rem;
    padding: 0 35px;
  }

  .furniture-section-author {
    font-size: 2rem;
    width: 95%;
  }

  .author-post-date p {
    font-size: 1.5rem;
  }

  .author-post-date {
    font-size: 1.5rem;
  }

  .share-icon {
    display: none;
  }

  .share-button-unclicked {
    width: 4rem;
    height: 4rem;
    position: absolute;
    right: 90px;
    cursor: pointer;
    /* to prevent blue highlight when clicked */
    -webkit-tap-highlight-color: transparent;
  }

  .share-options {
    display: none;
    position: absolute;
    top: 8rem;
    right: -80rem;
    border-radius: 15px;
    border: none;
    padding: 2rem;
    justify-content: space-evenly;
    width: 20rem;
    /* to prevent blue highlight when clicked */
    -webkit-tap-highlight-color: transparent;
  }

  .social-media-options img {
    cursor: pointer;
  }

  .triangle {
    position: absolute;
    display: flex;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 30px 30px 0 30px;
    border-color: hsl(217, 19%, 35%) transparent transparent transparent;
    transform: rotate(0deg);
    bottom: -25px;
  }
}
